/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
    height: 100%;
  }
body{
  background: #dfe9f5;
}
.container{
  display: flex;
  min-height: 100%;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* padding: 10px 20px; */
  font-size: 20px;
  /* border: none; */
  cursor: pointer;
}

button.on {
  background-color: rgb(81, 253, 81);
}

.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Add scrollbar for content if needed */
  }
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box {
  width: 100%;
  height: 200px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 50px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box .course {
  display: flex;
  align-items: center;
}

.box {
  width: 100%;
  height: 33%;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box p {
  font-size: 15px;
  margin-top: 10px;
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}
.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}
.logo img {
    max-width: 100%; 
  }
.box i {
  font-size: 5rem;
  margin-right: -20px;
  color: rgb(28, 98, 179);
}
    .hidden {
  opacity: 0;
}

#toggleButton {
  opacity: 2;
}