body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.range-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-container span {
  margin-right: 10px;
}

.range-container #yearValue,
.range-container #numWordsValue,
.range-container #diversityValue,
.range-container #verseLengthValue,
.range-container #chorusLengthValue,
.range-container #bridgeLengthValue {
  order: -1;
  margin-right: 30px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}



input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:active {
  transform: translateY(1px);
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="range"] {
  width: 100%;
}
